<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
        var phoneWidth = parseInt(window.screen.width);
        var phoneScale = (phoneWidth / 750) > 1?1:(phoneWidth / 750);
		document.write('<meta name="viewport" content="width=device-width, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
    </script>
    <title>title</title>
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="css/loading.css" type="text/css">
    <link rel="stylesheet" href="css/main.css?v=2" type="text/css">
    <link rel="stylesheet" href="css/Slide.css" type="text/css">
    <script type="text/javascript" src="js/jquery-2.1.1.min.js?id=1"></script>
    <script type="application/javascript" src="js/Slide.js"></script>
    <style>html{height: 100%;}</style>
</head>
<body class="full" style="background-color: black">
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="logos"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<img src="images/music.png?v=2" id="musicPic">
<audio src="media/music.mp3?v=26" crossOrigin="anonymous" id="music" style="visibility: hidden;" loop="loop" autoplay></audio>
<img src="images/nav.png?v=2" id="next">
<div class="page-wrap">{{content_html}}</div>
<div class="upload-loading" style="display:none;position: absolute;width: 100%;height:100%;z-index: 999;">
	<div style="position: absolute;width: 100%;height:100%;background: rgba(0,0,0,0.6);"></div>
	<img src="./images/loding.png" style="position: absolute;width: 20%;left: 50%;top:50%;margin: -10% -10%;-webkit-animation:rotate .5s linear 0s infinite both;"/>
</div>
<script src="./js/lizi.js"></script>
<script type="text/javascript">
    var slide = new Slide({
    	touchObj:".page-wrap",
        speed: 0.7,
        direction: 'vertical',
        effect: 'flip',
        loop: false,
        pageId: 1,
        allowTouch: true,
        distance: 150,
        musicSrc:'media/music.mp3',
        isMusicData:false,
    });
    slide.addEventListener('loaded',function () {
        $('body').addClass('loaded');
    })

    slide.addEventListener('animationEnded',function () {
        if(slide.pageId==slide.pageNum)
        {
            $('#next').hide();
        }else {
            $('#next').show();
        }
    })

    document.addEventListener("touchmove",function(event){
    	event.preventDefault();
    },{passive:false});
   
</script>
</body>
</html>
